h1, h2, h3 {
    margin: 0;
    padding-left: 0;
    border: 0;
    font-size: 50px;
    vertical-align: baseline;
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

a{
    margin-left: 10px;
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
a:hover {
    color: antiquewhite;
    background-color: darkblue;
    transition: 0.5s all;
}

body {
    background-color: antiquewhite;
}

nav ul li {
    padding-top:  20px;
    padding-bottom: 20px;
}

nav{
    display: inline-block;
    text-align: center;
}