{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil service de livraison</title>
    <link href="{% static 'accueil.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<div id="SMC" class="container" style="text-align: center"><img src="{% static 'RFr.jpg'%}" width="236" height="243" alt=""/>
            </div>

<body>
    <h1> Bienvenue! </h1>

    <p> Veuillez choisir l'option souhaité </p>

    <nav>
        <ul>
            <li>
                <a href="/mainsite/signin"> Inscription </a>
            </li>
            <li>
                <a href="/mainsite/login"> Connection </a>
            </li>
            <li>
                <a href="/mainsite/login"> Connection </a>
            </li>
        </ul>
    </nav>


</body>
</html>

<div id="Esilv" class="container"><img src="{% static 'Esilv.jpg'%}" width="236" height="243" alt=""/>
            </div>